.app.light {
	--bg-color: #e8e8ea;

	--primary-color: #7376FF;
	--secondary-color: #9c9df2;

	--elips1-bg: conic-gradient(from -42.07deg at 50% 50%, #6972CD -94.08deg, #3ABFFF 59.67deg, #726BD0 163.43deg, #FF00FF 194.05deg, #6972CD 265.92deg, #3ABFFF 419.67deg);
	--elips2-bg: conic-gradient(from -42.07deg at 50% 50%, #6972CD -94.08deg, #FF3AEB 59.67deg, #726BD0 163.43deg, #FF00FF 194.05deg, #6972CD 265.92deg, #FF3AEB 419.67deg);
	--elips3-bg: conic-gradient(from -42.07deg at 50% 50%, #6972CD -94.08deg, #3ABFFF 59.67deg, #726BD0 163.43deg, #FF00FF 194.05deg, #6972CD 265.92deg, #3ABFFF 419.67deg);
}